html, body {
    height: 100%;
    margin: 0;
}

/* DIV 1 */
.div1 {
    display: grid;
        grid: auto-flow min-content /1fr;
        grid-template-areas: "section1"
            "section2"
            "section3";
        margin: 1em;
       
}


@media screen and (min-width: 500px) {
    .div1 {
        grid: auto-flow min-content / 1fr 1fr;
        grid-template-areas: "section1 section2"
                            "section1 section3";
          
    }

        .div1-img-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .section1-img {
            height: 400px;
            margin: 20px;
            display: flex;
            align-self: flex-end;
            margin: 100px 10px 10px 50px;
        }
}
/* SECTION 1*/
.section1 {
    background-color: #C7DDEA;
    grid-area: section1;
    display: flex;
    flex-direction: column;
    
}

.section1-h1 {
    font-family: Frank Ruhl Libre;
    font-size: 60px;
    margin: 50px 50px 10px 50px;
    line-height: 0.9;
}

.section1-p1 {
    font-family: Fira Sans;
    margin: 10px 50px 10px 50px;

}

.section1-span {
    color:white;
}



.section1-button {
    background-color: white;
    border-radius: 22px;
    font-family: Fira Sans;
    font-size: 15px;
    padding: 10px 30px;
    font-style: bold;
    display: flex;
    align-self: flex-start;
    margin: 50px 50px 10px 50px;
    display: flex;
    align-self: center;
    width: fit-content;
}
    

.section1-img {
    height: 300px;
    margin: 20px;
    margin: 80px 10px 10px 50px;
}

/* SECTION2 */

.section2 {
    display: flex;
    flex-direction: column;
    grid-area: section2;
    background-color: #F17949;
    justify-content: center;
    align-items: center;
}

.section2-p {
    font-family: Fira Sans;
    margin-bottom: 0;
    
}

.section2-h2 {
    font-family: Frank Ruhl Libre;
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

/* SECTION3 */

.section3 {
    grid-area: section3;
    background-color: #FAB131;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3-p {
    font-family: Fira Sans;
    margin-bottom: 0;
}

.section3-h2 {
    font-family: Frank Ruhl Libre;
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

/* NAV_MENU*/

.nav-menu {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #A9A19E;
    font-family: Fira Sans;
    padding: 10px 0px 15px 0px;
}

.nav-link {
    text-decoration: none;
    color: #A9A19E;
}
.nav-link:hover {
    color: black;
}

/* Section 4, WITH CARDS */
.section4-div1 {
    background-color: #A9A19E;
    padding-bottom: 150px;
   
}

.section4-about {
    background-color: #FAB131;
    
}
.card-container {
    display: flex;
    flex-direction: column;
    background-color: #A9A19E;
    
}

.card {
    background-color: white;
    margin: 10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
   
}

.card-img-div {
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    border-radius: 5px;
    overflow: hidden;
}

.child {
    background-color: #C7DDEA;
}

.middle {
    background-color: #FAB131;
}

.old {
    background-color: #F17949;

}
.card-img-child { 
    max-width: 50%;
        margin-bottom: -12%;
        margin-top: 50px;
}

.card-img-middle {
    max-width: 50%;
    margin-bottom: -85%;
    margin-top: 50px;
}

.card-img-old {
    max-width: 50%;
    margin-bottom: -70%;
    margin-top: 50px;
}

.card-h3 {
    text-align: center;
    font-family: Frank Ruhl Libre;
    font-size: 1.2em;
}

.card-p {
    text-align: center;
    font-family: Fira Sans;
    margin-right: 30px;
    margin-left: 30px;
}


.section4-h2 {
    font-family: Frank Ruhl Libre;
    color: white;
    font-size: 50px;
    padding: 30px 30px 20px 30px;
    text-align: center;

    
}

.section4-p {
    font-family: Fira Sans;
    padding: 0px 30px 20px 30px;
    text-align: center;
}


/* colors:  #F17949; orange, #FAB131 yellow, #C7DDEA baby blue, #A9A19E grey */

@media screen and (min-width: 650px) {

    .section4-div1 {
            background-color: #A9A19E;
            padding-bottom: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: last baseline;
            
        }

        .section4-p {
            max-width: 30%;
        }

        .section4-h2 {
            max-width: 30%;
        }
        
    .card-container {
            display: flex;
            flex-direction: row;
            background-color: #A9A19E;
            justify-content: space-around;
            padding: 0px 30px 0px 30px;
            margin-bottom: -15%;

        }

                .card {
                    background-color: white;
                    margin: 10px 20px 10px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    border-radius: 10px;
                }

    .section4-about {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }


}